<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>Too Much Powah!</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" media="screen" href="static/css/main.css" />
</head>
<body>
<h1>Nice Try...</h1>
<h2>Keep Your Guess between 1-9, nothing else will work!</h2>
<iframe src="https://giphy.com/embed/OdHeYw7XBk6EE" width="480" height="411" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/smile-creepy-heart-OdHeYw7XBk6EE">via GIPHY</a></p></body>
</html>

